@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vh: 1vh;
}

html, body, #__next {
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

body {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
}

.chat-container {
  height: calc(100% - 140px); /* Aumentado para dar más espacio al final */
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.chat-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 20px 10px; /* Aumentado el padding superior */
}

.input-container input {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 9999px;
}

.assistant-message {
  display: flex;
  align-items: flex-start;
}

.assistant-message img {
  margin-top: -3px; /* Ajustado para subir el icono */
  margin-right: 0.5rem;
  flex-shrink: 0;
}

.assistant-message .message-content {
  flex-grow: 1;
}

@media (max-width: 640px) {
  .chat-container > div {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

/* Estilos para la barra de desplazamiento en el lado derecho de la página */
body {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes typewriter {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.typewriter-effect span {
  opacity: 0;
  animation: typewriter 1s forwards;
  animation-delay: calc(var(--index) * 0.03s);
}

@media (max-height: 600px) {
  .chat-container {
    max-height: calc(100vh - 200px); /* Ajustado para dar más espacio */
  }
}

#__next {
  height: 100%;
}